body {
  color: var(--fc-body);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}

p {
  color: var(--fc-paragraph);
  font-family: var(--ff-paragraph);
  font-size: var(--fs-paragrah);
  line-height: var(--lh-paragrah);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--fc-headline);
  font-family: var(--ff-headline);
  line-height: var(--lh-headline);
}

h2{text-decoration: 6px underline var(--clr-underline);}

h1 {
  font-size: var(--fs-headline, var(--fs-3xl));
}

h2 {
  font-size: var(--fs-headline, var(--fs-2xl));
}

h3 {
  font-size: var(--fs-headline, var(--fs-xl));
}

h4 {
  font-size: var(--fs-headline, var(--fs-lg));
}

h5 {
  font-size: var(--fs-headline, var(--fs-md));
}

h6 {
  font-size: var(--fs-headline, var(--fs-sm));
}

a {
  color: var(--fc-anchor);
  background-color: var(--bg-anchor);
}

button {
  color: var(--fc-button);
  background: var(--bg-button);
}

ul[role="menu"] {display: flex;}

::marker {color: var(--clr-liststyle);}