:root {
  --clr-primary: ;
  --clr-accent: ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
}

h1, h2, h3 {
  color: var();
}

.frame {
  margin-inline: auto;
  padding-block: 5rem;
  width: 62.5rem;
}