body {
  color: var(--fc-body);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
  line-height: var(--lh-body);
}

header {
  background-color: var(--bg-header);
  z-index: 2;
}

p {
  color: var(--fc-paragraph);
  font-family: var(--ff-paragraph);
  font-size: var(--fs-paragrah);
  font-weight: var(--fw-paragrah);
  line-height: var(--lh-paragrah);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--fc-headline);
  font-family: var(--ff-headline);
  /* font-weight: var(--fw-headline); */
  line-height: var(--lh-headline);
  &:not(h1){text-decoration: 6px underline var(--clr-underline);}
}

h1 {
  font-size: var(--fs-headline, var(--fs-3xl));
}

h2 {
  font-size: var(--fs-headline, var(--fs-2xl));
}

h3 {
  font-size: var(--fs-headline, var(--fs-xl));
}

h4 {
  font-size: var(--fs-headline, var(--fs-lg));
}

h5 {
  font-size: var(--fs-headline, var(--fs-md));
}

h6 {
  font-size: var(--fs-headline, var(--fs-sm));
}

a {
  color: var(--fc-anchor);
  font-family: var(--ff-anchor);
  font-size: var(--fs-anchor);
  font-weight: var(--fw-anchor);
  background-color: var(--bg-anchor);
  text-decoration: 6px underline var(--td-anchor);
  /* border: 0 solid var(--bc-anchor); */
  /* border-radius: var(--br-anchor); */
}

a:hover {
  /* --fc-anchor: var(--fch-anchor); */
  --td-anchor: var(--tdh-anchor);
}

a:focus-visible {
  /* --fc-anchor: var(--fcf-anchor); */
  --td-anchor: var(--tdf-anchor);
}

button {
  color: var(--fc-button);
  font-family: var(--ff-button);
  font-size: var(--fs-button);
  font-weight: var(--fw-button);
  background: var(--bg-button);
  /* border: 0 solid var(--bc-button); */
  /* border-radius: var(--br-button); */
}

ul, ol {
  color: var(--fc-list);
  font-family: var(--ff-list);
  font-size: var(--fs-list);
  font-weight: var(--fw-list);
  /* background: var(--bg-list); */
}

ul[role="menu"] {display: flex;}

::marker {color: var(--clr-liststyle);}

footer {
  background-color: var(--bg-footer);
}