header {
  position: sticky;
  top: 0;
}

header, footer {
  background-color: var(--bg-invert);
  
  a {
    --fc-anchor: var(--fc-invert);
    text-decoration: none;
  }

  nav a {
    display: inline-block;
    padding: var(--space-md) var(--space-sm);
    
    &:hover {
      --fc-anchor: var(--fc-hvr-anchor);
      --bg-anchor: var(--bg-hvr-anchor);
    }
  }
}

.hero {
  --fc-headline: var(--fc-invert);
  --fc-paragraph: var(--fc-invert);
  background: var(--bg-invert);
}

form, .form-group {display: grid;}

form {gap: var(--space-md);}

.form-group {gap: var(--fs-sm)}

label {
  color: var(--fc-invert);
  &::after {
    content: "*";
    color: var(--clr-accent-400);
    margin-left: var(--space-xs);
  }
}

input[type="text"],
input[type="email"],
textarea,
button[type="submit"] {
  padding: var(--space-xs) var(--space-sm);
}

button[type="submit"]:hover {
  --fc-button: var(--fc-hvr-button);
  --bg-button: var(--bg-hvr-button);
}

.bg-invert {
  --fc-headline: var(--fc-invert);
  --fc-paragraph: var(--fc-invert);
  background: var(--bg-invert);
}

.box-header, .box-content, .box-footer {margin-inline: auto;}

.box-header,
.box-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: var(--space-sm);
  max-width: var(--width-wide);
}

.box-content {
  --columns: 1;
  display: grid;
  gap: var(--space-sm);
  grid-template-columns: repeat(var(--columns), 1fr);
  padding: 5rem var(--space-sm);
  max-width: var(--width-regular);

  @media (min-width: 1024px) {--columns: 2;}
}
